.bg-div {
    background-image: url(./bg.jpg);
    bottom:0;
    top:0;
    right:0;
    left:0;
    position: absolute;
    background-size: cover ;
    background-repeat: repeat-y;

}
.footer {
    position: fixed;
    left: 25%;
    bottom: 0;
    width: 50%;
    background-color: transparent;
    color: white;
    text-align: right;
    margin: auto;
  }
  .ourlogo{
      width: 150px;;
  }