.bg-div {
    background-image: url(./bg.jpg);
    bottom:0;
    top:0;
    right:0;
    left:0;
    position: absolute;
    background-size: cover ;
    background-repeat: repeat-y;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
  }
  .ourlogo{
      width: 150px;;
  }